body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scene {
  background-image: url("./rice-plantation-1822444.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: relative;
  animation: dayNightCycle 60s infinite alternate;
  z-index: -1;
}
@keyframes dayNightCycle {
  0% {
    filter: brightness(0.2);
  }
  40% {
    filter: brightness(0.4);
  }
  50% {
    filter: brightness(1);
  }
  90% {
    filter: brightness(0.3);
  }
  100% {
    filter: brightness(0.2);
  }
}

.cloud {
  position: absolute;
  top: 0;
  left: -20%;
  opacity: 0.8;
  animation: driftCloud 60s linear infinite,
    dayNightCycle 60s infinite alternate;
  z-index: 1;
}
@keyframes driftCloud {
  0% {
    left: -150%;
  }
  100% {
    left: 250%;
  }
}
.quote-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  text-align: center;
  max-width: 80%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  border-radius: 8px;
}

.raindrop {
  position: absolute;
  bottom: 0;
  width: 2px;
  height: 10px;
  background-color: blue;
  animation: rainDropAnimation 1s linear infinite;
  z-index: 1000;
}

@keyframes rainDropAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

.star {
  position: absolute;
  background-color: white;
  width: 2px;
  height: 2px;
  animation: combinedShimmerVisibility 60s infinite;
}

@keyframes combinedShimmerVisibility {
  0% {
    opacity: 0.8;
  }
  8% {
    opacity: 0.4;
  }
  10% {
    opacity: 0;
  }
  20%,
  75% {
    opacity: 0;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}
.moving-star {
  animation: moveStarLinearly 60s linear infinite;
}

@keyframes moveStarLinearly {
  0% {
    opacity: 0.8;
    transform: translateX(30vw);
  }
  8% {
    opacity: 0.4;
    transform: translateX(50vw);
  }
  10% {
    opacity: 0;
  }
  20%,
  75% {
    opacity: 0;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
    transform: translateX(20vw);
  }
}

.moon {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  box-shadow: -15px 15px 0 5px white;
  border-radius: 50%;
  top: 15%;
  left: 15%;
  animation: moonRise 60s forwards infinite;
}

@keyframes moonRise {
  0% {
    opacity: 0.8;
    box-shadow: 15px 15px 0 5px white;
  }
  8% {
    opacity: 0.4;
    box-shadow: 25px 25px 0 5px white;
  }
  10% {
    opacity: 0.2;
    box-shadow: 26px 26px 0 5px white;
  }
  20%,
  75% {
    opacity: 0;
  }
  90% {
    opacity: 0.8;
    box-shadow: 100px 100px 0 5px white;
  }
  100% {
    opacity: 0.8;
    box-shadow: 15px 15px 0 5px white;
  }
}

.bird {
  width: 100px;
  position: absolute;
  bottom: 70%;
  height: auto;
  z-index: 1;
  left: -50%;
  bottom: 65%;
  animation: moveBird 10s linear infinite;
  transform: scaleX(-1);
}

@keyframes moveBirdRight {
  0% {
    left: -50%;
    bottom: 65%;
  }
  50% {
    bottom: 75%;
  }
  100% {
    left: 150%;
    bottom: 60%;
  }
}

@keyframes moveBirdLeft {
  0% {
    left: 150%;
    bottom: 65%;
  }
  50% {
    bottom: 75%;
  }
  100% {
    left: -50%;
    bottom: 60%;
  }
}
.particle {
  position: absolute;
  background-color: white;
  width: 2px;
  height: 2px;
  opacity: 0.7;
  animation: drift 20s linear infinite, dayNightCycle 60s infinite alternate;
  animation-delay: calc(-20s * random());
}

@keyframes drift {
  0% {
    transform: translateX(0) translateY(-100%);
  }
  90% {
  }
  100% {
    transform: translateX(-10vw) translateY(110vh);
  }
}

footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 0.8em;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
}
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 98, 0, 0.3) 0%,
    rgba(9, 9, 121, 0) 50%,
    rgba(0, 212, 255, 0.3) 100%
  );
  pointer-events: none;
}

footer a {
  color: #ffd700;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
